@font-face {
  font-family: 'loraregular';
  src: url('./asset/fonts/lora-variablefont_wght-webfont.woff2') format('woff2'),
    url('./asset/fonts/lora-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  background-color: black;
  color: white;

  font-family: 'loraregular', Verdana, Geneva, Tahoma, sans-serif;

  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* HEADER */

header {
  position: relative;
  height: 60vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header::before {
  content: "";
  background-image: url('./asset/img/michael-benz-IgWNxx7paz4-unsplash-full.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  opacity: 0.4;
}

header h1 {
  position: relative;
  font-size: 64px;
}

header h2 {
  position: relative;
  font-size: 18px;
}

/* MAIN BODY- PROJECTS */
.projects {
  padding: 20px 24px;

  display: grid;
}

.projects h2 {
  font-size: 28px;
}

.project {
  max-height: 300px;

  margin: 16px 0;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.project img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.project .explanation {
  padding: 16px 0;
}

.project h3 {
  font-size: 24px;
  margin-bottom: 16px;
}

.project .description {
  line-height: 1.5em;
}

/* FOOTER */
footer {
  margin-top: auto;
  padding: 32px 24px;

  border-top: white solid 1px;

  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 8px;
}

footer h2 {
  display: none;
}

.footer-header {
  font-size: 28px;
}

.footer-content {
  font-size: 18px;
}

.footer-icons {
  display: flex;
  justify-content: flex-end;
}

.footer-icons a {
  text-decoration: none;
  color: inherit;
}

i {
  font-size: 20px;
  padding: 0 8px;
}

/*
  SMALL SCREENS
*/
@media only screen and (max-width: 640px) {
  header::before {
    background-image: url('./asset/img/michael-benz-IgWNxx7paz4-unsplash-small.jpg');
  }

  footer {
    grid-template-rows: 1.4fr 1fr 1fr;
  }
}

/*
  iPad and below
*/
@media only screen and (max-width: 810px) {
  .project {
    max-height: 400px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.3fr;
  }

  .project .explanation {
    text-align: center;
  }
}